<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple REST API Server Application</title>
</head>
<body>
    <h1>Simple REST API Server Application</h1>
    <br>
    <p>
    This is simple flask based server application, which receives bbc headlines using REST API from:
        <a href="https://newsapi.org/bbc-news-api">newsapi.org </a>
        and then makes them available in re-rendered format under following links: <br><br>
        json: http://server_ip/bbc_headlines_json <br>
        html: http://server_ip/bbc_headlines_html <br><br>
        Simple debugging info is also available under following address:<br><br>
        http://server_ip/user/admin


    </p>
</body>
</html>